<html lang="EN">
<head>
    <meta charset="UTF-8"/>
    <title>Car rental company</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        h4 {
            font-family: 'Lobster', cursive !important;
            margin: 12px !important;
        }
        body {
            margin: 0 !important;
            font-family: 'Lato', sans-serif;
        }
        .MuiFormLabel-root.Mui-focused {
            color: #FF775A !important;
        }
        li {list-style-type: none !important;}
    </style>
</head>
<body>

<div id="react"></div>
<script src="built/bundle.js"></script>

</body>
</html>